.venv/
.python-packages/
__pycache__/
.pytest_cache/
node_modules/
dist/
.env
*.db
*.egg-info/

pytest-cache-files-*/
# IDE - JetBrains / PyCharm
.idea/
analyses/
*-scan-latest.json
.coverage
frontend/coverage/
